$ghc-1c-enterprise: #814CCC;
$ghc-abap: #E8274B;
$ghc-ags-script: #B9D9FF;
$ghc-ampl: #E6EFBB;
$ghc-antlr: #9DC3FF;
$ghc-api-blueprint: #2ACCA8;
$ghc-apl: #5A8164;
$ghc-asp: #6a40fd;
$ghc-ats: #1ac620;
$ghc-actionscript: #882B0F;
$ghc-ada: #02f88c;
$ghc-agda: #315665;
$ghc-alloy: #64C800;
$ghc-angelscript: #C7D7DC;
$ghc-applescript: #101F1F;
$ghc-arc: #aa2afe;
$ghc-aspectj: #a957b0;
$ghc-assembly: #6E4C13;
$ghc-asymptote: #4a0c0c;
$ghc-autohotkey: #6594b9;
$ghc-autoit: #1C3552;
$ghc-ballerina: #FF5000;
$ghc-batchfile: #C1F12E;
$ghc-blitzmax: #cd6400;
$ghc-boo: #d4bec1;
$ghc-brainfuck: #2F2530;
$ghc-c: #555555;
$ghc-c-sharp: #178600;
$ghc-cpp: #f34b7d;
$ghc-css: #563d7c;
$ghc-ceylon: #dfa535;
$ghc-chapel: #8dc63f;
$ghc-cirru: #ccccff;
$ghc-clarion: #db901e;
$ghc-clean: #3F85AF;
$ghc-click: #E4E6F3;
$ghc-clojure: #db5855;
$ghc-coffeescript: #244776;
$ghc-coldfusion: #ed2cd6;
$ghc-common-lisp: #3fb68b;
$ghc-common-workflow-language: #B5314C;
$ghc-component-pascal: #B0CE4E;
$ghc-crystal: #000100;
$ghc-cuda: #3A4E3A;
$ghc-d: #ba595e;
$ghc-dm: #447265;
$ghc-dart: #00B4AB;
$ghc-dataweave: #003a52;
$ghc-dockerfile: #384d54;
$ghc-dogescript: #cca760;
$ghc-dylan: #6c616e;
$ghc-e: #ccce35;
$ghc-ecl: #8a1267;
$ghc-eq: #a78649;
$ghc-eiffel: #946d57;
$ghc-elixir: #6e4a7e;
$ghc-elm: #60B5CC;
$ghc-emacs-lisp: #c065db;
$ghc-emberscript: #FFF4F3;
$ghc-erlang: #B83998;
$ghc-f-sharp: #b845fc;
$ghc-f*: #572e30;
$ghc-flux: #88ccff;
$ghc-factor: #636746;
$ghc-fancy: #7b9db4;
$ghc-fantom: #14253c;
$ghc-forth: #341708;
$ghc-fortran: #4d41b1;
$ghc-freemarker: #0050b2;
$ghc-frege: #00cafe;
$ghc-gdscript: #355570;
$ghc-game-maker-language: #71b417;
$ghc-genie: #fb855d;
$ghc-gherkin: #5B2063;
$ghc-glyph: #c1ac7f;
$ghc-gnuplot: #f0a9f0;
$ghc-go: #00ADD8;
$ghc-golo: #88562A;
$ghc-gosu: #82937f;
$ghc-grammatical-framework: #79aa7a;
$ghc-groovy: #e69f56;
$ghc-html: #e34c26;
$ghc-hack: #878787;
$ghc-harbour: #0e60e3;
$ghc-haskell: #5e5086;
$ghc-haxe: #df7900;
$ghc-hiveql: #dce200;
$ghc-holyc: #ffefaf;
$ghc-hy: #7790B2;
$ghc-idl: #a3522f;
$ghc-idris: #b30000;
$ghc-io: #a9188d;
$ghc-ioke: #078193;
$ghc-isabelle: #FEFE00;
$ghc-j: #9EEDFF;
$ghc-jsoniq: #40d47e;
$ghc-java: #b07219;
$ghc-javascript: #f1e05a;
$ghc-jolie: #843179;
$ghc-jsonnet: #0064bd;
$ghc-julia: #a270ba;
$ghc-jupyter-notebook: #DA5B0B;
$ghc-krl: #28430A;
$ghc-kotlin: #F18E33;
$ghc-lfe: #4C3023;
$ghc-llvm: #185619;
$ghc-lolcode: #cc9900;
$ghc-lsl: #3d9970;
$ghc-lasso: #999999;
$ghc-lex: #DBCA00;
$ghc-livescript: #499886;
$ghc-lookml: #652B81;
$ghc-lua: #000080;
$ghc-matlab: #e16737;
$ghc-maxscript: #00a6a6;
$ghc-mql4: #62A8D6;
$ghc-mql5: #4A76B8;
$ghc-mtml: #b7e1f4;
$ghc-makefile: #427819;
$ghc-mask: #f97732;
$ghc-max: #c4a79c;
$ghc-mercury: #ff2b2b;
$ghc-meson: #007800;
$ghc-metal: #8f14e9;
$ghc-mirah: #c7a938;
$ghc-modula-3: #223388;
$ghc-ncl: #28431f;
$ghc-nearley: #990000;
$ghc-nemerle: #3d3c6e;
$ghc-netlinx: #0aa0ff;
$ghc-netlinxperb: #747faa;
$ghc-netlogo: #ff6375;
$ghc-newlisp: #87AED7;
$ghc-nextflow: #3ac486;
$ghc-nim: #37775b;
$ghc-nit: #009917;
$ghc-nix: #7e7eff;
$ghc-nu: #c9df40;
$ghc-ocaml: #3be133;
$ghc-objective-c: #438eff;
$ghc-objective-cpp: #6866fb;
$ghc-objective-j: #ff0c5a;
$ghc-omgrofl: #cabbff;
$ghc-opal: #f7ede0;
$ghc-oxygene: #cdd0e3;
$ghc-oz: #fab738;
$ghc-p4: #7055b5;
$ghc-php: #4F5D95;
$ghc-plsql: #dad8d8;
$ghc-pan: #cc0000;
$ghc-papyrus: #6600cc;
$ghc-parrot: #f3ca0a;
$ghc-pascal: #E3F171;
$ghc-pawn: #dbb284;
$ghc-pep8: #C76F5B;
$ghc-perl: #0298c3;
$ghc-perl-6: #0000fb;
$ghc-piglatin: #fcd7de;
$ghc-pike: #005390;
$ghc-pogoscript: #d80074;
$ghc-postscript: #da291c;
$ghc-powerbuilder: #8f0f8d;
$ghc-powershell: #012456;
$ghc-processing: #0096D8;
$ghc-prolog: #74283c;
$ghc-propeller-spin: #7fa2a7;
$ghc-puppet: #302B6D;
$ghc-purebasic: #5a6986;
$ghc-purescript: #1D222D;
$ghc-python: #3572A5;
$ghc-qml: #44a51c;
$ghc-quake: #882233;
$ghc-r: #198CE7;
$ghc-raml: #77d9fb;
$ghc-runoff: #665a4e;
$ghc-racket: #3c5caa;
$ghc-ragel: #9d5200;
$ghc-rascal: #fffaa0;
$ghc-rebol: #358a5b;
$ghc-red: #f50000;
$ghc-ren-py: #ff7f7f;
$ghc-ring: #2D54CB;
$ghc-roff: #ecdebe;
$ghc-rouge: #cc0088;
$ghc-ruby: #701516;
$ghc-rust: #dea584;
$ghc-sas: #B34936;
$ghc-sqf: #3F3F3F;
$ghc-srecode-template: #348a34;
$ghc-saltstack: #646464;
$ghc-scala: #c22d40;
$ghc-scheme: #1e4aec;
$ghc-self: #0579aa;
$ghc-shell: #89e051;
$ghc-shen: #120F14;
$ghc-slash: #007eff;
$ghc-slice: #003fa2;
$ghc-smalltalk: #596706;
$ghc-solidity: #AA6746;
$ghc-sourcepawn: #5c7611;
$ghc-squirrel: #800000;
$ghc-stan: #b2011d;
$ghc-standard-ml: #dc566d;
$ghc-supercollider: #46390b;
$ghc-swift: #ffac45;
$ghc-systemverilog: #DAE1C2;
$ghc-ti-program: #A0AA87;
$ghc-tcl: #e4cc98;
$ghc-tex: #3D6117;
$ghc-terra: #00004c;
$ghc-turing: #cf142b;
$ghc-typescript: #2b7489;
$ghc-unrealscript: #a54c4d;
$ghc-vcl: #148AA8;
$ghc-vhdl: #adb2cb;
$ghc-vala: #fbe5cd;
$ghc-verilog: #b2b7f8;
$ghc-vim-script: #199f4b;
$ghc-visual-basic: #945db7;
$ghc-volt: #1F1F1F;
$ghc-vue: #2c3e50;
$ghc-webassembly: #04133b;
$ghc-wollok: #a23738;
$ghc-x10: #4B6BEF;
$ghc-xc: #99DA07;
$ghc-xquery: #5232e7;
$ghc-xslt: #EB8CEB;
$ghc-yara: #220000;
$ghc-yasnippet: #32AB90;
$ghc-yacc: #4B6C4B;
$ghc-zap: #0d665e;
$ghc-zil: #dc75e5;
$ghc-zenscript: #00BCD1;
$ghc-zephir: #118f9e;
$ghc-zig: #ec915c;
$ghc-ec: #913960;
$ghc-mcfunction: #E22837;
$ghc-nesc: #94B0C7;
$ghc-ooc: #b0b77e;
$ghc-q: #0040cd;
$ghc-sed: #64b970;
$ghc-wdl: #42f1f4;
$ghc-wisp: #7582D1;
$ghc-xbase: #403a40;
