.ghc-1c-enterprise { color: #814CCC; }
.ghc-1c-enterprise-bg { background-color: #814CCC; }
.ghc-abap { color: #E8274B; }
.ghc-abap-bg { background-color: #E8274B; }
.ghc-ags-script { color: #B9D9FF; }
.ghc-ags-script-bg { background-color: #B9D9FF; }
.ghc-ampl { color: #E6EFBB; }
.ghc-ampl-bg { background-color: #E6EFBB; }
.ghc-antlr { color: #9DC3FF; }
.ghc-antlr-bg { background-color: #9DC3FF; }
.ghc-api-blueprint { color: #2ACCA8; }
.ghc-api-blueprint-bg { background-color: #2ACCA8; }
.ghc-apl { color: #5A8164; }
.ghc-apl-bg { background-color: #5A8164; }
.ghc-asp { color: #6a40fd; }
.ghc-asp-bg { background-color: #6a40fd; }
.ghc-ats { color: #1ac620; }
.ghc-ats-bg { background-color: #1ac620; }
.ghc-actionscript { color: #882B0F; }
.ghc-actionscript-bg { background-color: #882B0F; }
.ghc-ada { color: #02f88c; }
.ghc-ada-bg { background-color: #02f88c; }
.ghc-agda { color: #315665; }
.ghc-agda-bg { background-color: #315665; }
.ghc-alloy { color: #64C800; }
.ghc-alloy-bg { background-color: #64C800; }
.ghc-angelscript { color: #C7D7DC; }
.ghc-angelscript-bg { background-color: #C7D7DC; }
.ghc-applescript { color: #101F1F; }
.ghc-applescript-bg { background-color: #101F1F; }
.ghc-arc { color: #aa2afe; }
.ghc-arc-bg { background-color: #aa2afe; }
.ghc-aspectj { color: #a957b0; }
.ghc-aspectj-bg { background-color: #a957b0; }
.ghc-assembly { color: #6E4C13; }
.ghc-assembly-bg { background-color: #6E4C13; }
.ghc-asymptote { color: #4a0c0c; }
.ghc-asymptote-bg { background-color: #4a0c0c; }
.ghc-autohotkey { color: #6594b9; }
.ghc-autohotkey-bg { background-color: #6594b9; }
.ghc-autoit { color: #1C3552; }
.ghc-autoit-bg { background-color: #1C3552; }
.ghc-ballerina { color: #FF5000; }
.ghc-ballerina-bg { background-color: #FF5000; }
.ghc-batchfile { color: #C1F12E; }
.ghc-batchfile-bg { background-color: #C1F12E; }
.ghc-blitzmax { color: #cd6400; }
.ghc-blitzmax-bg { background-color: #cd6400; }
.ghc-boo { color: #d4bec1; }
.ghc-boo-bg { background-color: #d4bec1; }
.ghc-brainfuck { color: #2F2530; }
.ghc-brainfuck-bg { background-color: #2F2530; }
.ghc-c { color: #555555; }
.ghc-c-bg { background-color: #555555; }
.ghc-c-sharp { color: #178600; }
.ghc-c-sharp-bg { background-color: #178600; }
.ghc-cpp { color: #f34b7d; }
.ghc-cpp-bg { background-color: #f34b7d; }
.ghc-css { color: #563d7c; }
.ghc-css-bg { background-color: #563d7c; }
.ghc-ceylon { color: #dfa535; }
.ghc-ceylon-bg { background-color: #dfa535; }
.ghc-chapel { color: #8dc63f; }
.ghc-chapel-bg { background-color: #8dc63f; }
.ghc-cirru { color: #ccccff; }
.ghc-cirru-bg { background-color: #ccccff; }
.ghc-clarion { color: #db901e; }
.ghc-clarion-bg { background-color: #db901e; }
.ghc-clean { color: #3F85AF; }
.ghc-clean-bg { background-color: #3F85AF; }
.ghc-click { color: #E4E6F3; }
.ghc-click-bg { background-color: #E4E6F3; }
.ghc-clojure { color: #db5855; }
.ghc-clojure-bg { background-color: #db5855; }
.ghc-coffeescript { color: #244776; }
.ghc-coffeescript-bg { background-color: #244776; }
.ghc-coldfusion { color: #ed2cd6; }
.ghc-coldfusion-bg { background-color: #ed2cd6; }
.ghc-common-lisp { color: #3fb68b; }
.ghc-common-lisp-bg { background-color: #3fb68b; }
.ghc-common-workflow-language { color: #B5314C; }
.ghc-common-workflow-language-bg { background-color: #B5314C; }
.ghc-component-pascal { color: #B0CE4E; }
.ghc-component-pascal-bg { background-color: #B0CE4E; }
.ghc-crystal { color: #000100; }
.ghc-crystal-bg { background-color: #000100; }
.ghc-cuda { color: #3A4E3A; }
.ghc-cuda-bg { background-color: #3A4E3A; }
.ghc-d { color: #ba595e; }
.ghc-d-bg { background-color: #ba595e; }
.ghc-dm { color: #447265; }
.ghc-dm-bg { background-color: #447265; }
.ghc-dart { color: #00B4AB; }
.ghc-dart-bg { background-color: #00B4AB; }
.ghc-dataweave { color: #003a52; }
.ghc-dataweave-bg { background-color: #003a52; }
.ghc-dockerfile { color: #384d54; }
.ghc-dockerfile-bg { background-color: #384d54; }
.ghc-dogescript { color: #cca760; }
.ghc-dogescript-bg { background-color: #cca760; }
.ghc-dylan { color: #6c616e; }
.ghc-dylan-bg { background-color: #6c616e; }
.ghc-e { color: #ccce35; }
.ghc-e-bg { background-color: #ccce35; }
.ghc-ecl { color: #8a1267; }
.ghc-ecl-bg { background-color: #8a1267; }
.ghc-eq { color: #a78649; }
.ghc-eq-bg { background-color: #a78649; }
.ghc-eiffel { color: #946d57; }
.ghc-eiffel-bg { background-color: #946d57; }
.ghc-elixir { color: #6e4a7e; }
.ghc-elixir-bg { background-color: #6e4a7e; }
.ghc-elm { color: #60B5CC; }
.ghc-elm-bg { background-color: #60B5CC; }
.ghc-emacs-lisp { color: #c065db; }
.ghc-emacs-lisp-bg { background-color: #c065db; }
.ghc-emberscript { color: #FFF4F3; }
.ghc-emberscript-bg { background-color: #FFF4F3; }
.ghc-erlang { color: #B83998; }
.ghc-erlang-bg { background-color: #B83998; }
.ghc-f-sharp { color: #b845fc; }
.ghc-f-sharp-bg { background-color: #b845fc; }
.ghc-f* { color: #572e30; }
.ghc-f*-bg { background-color: #572e30; }
.ghc-flux { color: #88ccff; }
.ghc-flux-bg { background-color: #88ccff; }
.ghc-factor { color: #636746; }
.ghc-factor-bg { background-color: #636746; }
.ghc-fancy { color: #7b9db4; }
.ghc-fancy-bg { background-color: #7b9db4; }
.ghc-fantom { color: #14253c; }
.ghc-fantom-bg { background-color: #14253c; }
.ghc-forth { color: #341708; }
.ghc-forth-bg { background-color: #341708; }
.ghc-fortran { color: #4d41b1; }
.ghc-fortran-bg { background-color: #4d41b1; }
.ghc-freemarker { color: #0050b2; }
.ghc-freemarker-bg { background-color: #0050b2; }
.ghc-frege { color: #00cafe; }
.ghc-frege-bg { background-color: #00cafe; }
.ghc-gdscript { color: #355570; }
.ghc-gdscript-bg { background-color: #355570; }
.ghc-game-maker-language { color: #71b417; }
.ghc-game-maker-language-bg { background-color: #71b417; }
.ghc-genie { color: #fb855d; }
.ghc-genie-bg { background-color: #fb855d; }
.ghc-gherkin { color: #5B2063; }
.ghc-gherkin-bg { background-color: #5B2063; }
.ghc-glyph { color: #c1ac7f; }
.ghc-glyph-bg { background-color: #c1ac7f; }
.ghc-gnuplot { color: #f0a9f0; }
.ghc-gnuplot-bg { background-color: #f0a9f0; }
.ghc-go { color: #00ADD8; }
.ghc-go-bg { background-color: #00ADD8; }
.ghc-golo { color: #88562A; }
.ghc-golo-bg { background-color: #88562A; }
.ghc-gosu { color: #82937f; }
.ghc-gosu-bg { background-color: #82937f; }
.ghc-grammatical-framework { color: #79aa7a; }
.ghc-grammatical-framework-bg { background-color: #79aa7a; }
.ghc-groovy { color: #e69f56; }
.ghc-groovy-bg { background-color: #e69f56; }
.ghc-html { color: #e34c26; }
.ghc-html-bg { background-color: #e34c26; }
.ghc-hack { color: #878787; }
.ghc-hack-bg { background-color: #878787; }
.ghc-harbour { color: #0e60e3; }
.ghc-harbour-bg { background-color: #0e60e3; }
.ghc-haskell { color: #5e5086; }
.ghc-haskell-bg { background-color: #5e5086; }
.ghc-haxe { color: #df7900; }
.ghc-haxe-bg { background-color: #df7900; }
.ghc-hiveql { color: #dce200; }
.ghc-hiveql-bg { background-color: #dce200; }
.ghc-hy { color: #7790B2; }
.ghc-hy-bg { background-color: #7790B2; }
.ghc-idl { color: #a3522f; }
.ghc-idl-bg { background-color: #a3522f; }
.ghc-idris { color: #b30000; }
.ghc-idris-bg { background-color: #b30000; }
.ghc-io { color: #a9188d; }
.ghc-io-bg { background-color: #a9188d; }
.ghc-ioke { color: #078193; }
.ghc-ioke-bg { background-color: #078193; }
.ghc-isabelle { color: #FEFE00; }
.ghc-isabelle-bg { background-color: #FEFE00; }
.ghc-j { color: #9EEDFF; }
.ghc-j-bg { background-color: #9EEDFF; }
.ghc-jsoniq { color: #40d47e; }
.ghc-jsoniq-bg { background-color: #40d47e; }
.ghc-java { color: #b07219; }
.ghc-java-bg { background-color: #b07219; }
.ghc-javascript { color: #f1e05a; }
.ghc-javascript-bg { background-color: #f1e05a; }
.ghc-jolie { color: #843179; }
.ghc-jolie-bg { background-color: #843179; }
.ghc-julia { color: #a270ba; }
.ghc-julia-bg { background-color: #a270ba; }
.ghc-jupyter-notebook { color: #DA5B0B; }
.ghc-jupyter-notebook-bg { background-color: #DA5B0B; }
.ghc-krl { color: #28430A; }
.ghc-krl-bg { background-color: #28430A; }
.ghc-kotlin { color: #F18E33; }
.ghc-kotlin-bg { background-color: #F18E33; }
.ghc-lfe { color: #4C3023; }
.ghc-lfe-bg { background-color: #4C3023; }
.ghc-llvm { color: #185619; }
.ghc-llvm-bg { background-color: #185619; }
.ghc-lolcode { color: #cc9900; }
.ghc-lolcode-bg { background-color: #cc9900; }
.ghc-lsl { color: #3d9970; }
.ghc-lsl-bg { background-color: #3d9970; }
.ghc-lasso { color: #999999; }
.ghc-lasso-bg { background-color: #999999; }
.ghc-lex { color: #DBCA00; }
.ghc-lex-bg { background-color: #DBCA00; }
.ghc-livescript { color: #499886; }
.ghc-livescript-bg { background-color: #499886; }
.ghc-lookml { color: #652B81; }
.ghc-lookml-bg { background-color: #652B81; }
.ghc-lua { color: #000080; }
.ghc-lua-bg { background-color: #000080; }
.ghc-matlab { color: #e16737; }
.ghc-matlab-bg { background-color: #e16737; }
.ghc-maxscript { color: #00a6a6; }
.ghc-maxscript-bg { background-color: #00a6a6; }
.ghc-mql4 { color: #62A8D6; }
.ghc-mql4-bg { background-color: #62A8D6; }
.ghc-mql5 { color: #4A76B8; }
.ghc-mql5-bg { background-color: #4A76B8; }
.ghc-mtml { color: #b7e1f4; }
.ghc-mtml-bg { background-color: #b7e1f4; }
.ghc-makefile { color: #427819; }
.ghc-makefile-bg { background-color: #427819; }
.ghc-mask { color: #f97732; }
.ghc-mask-bg { background-color: #f97732; }
.ghc-max { color: #c4a79c; }
.ghc-max-bg { background-color: #c4a79c; }
.ghc-mercury { color: #ff2b2b; }
.ghc-mercury-bg { background-color: #ff2b2b; }
.ghc-meson { color: #007800; }
.ghc-meson-bg { background-color: #007800; }
.ghc-metal { color: #8f14e9; }
.ghc-metal-bg { background-color: #8f14e9; }
.ghc-mirah { color: #c7a938; }
.ghc-mirah-bg { background-color: #c7a938; }
.ghc-modula-3 { color: #223388; }
.ghc-modula-3-bg { background-color: #223388; }
.ghc-ncl { color: #28431f; }
.ghc-ncl-bg { background-color: #28431f; }
.ghc-nearley { color: #990000; }
.ghc-nearley-bg { background-color: #990000; }
.ghc-nemerle { color: #3d3c6e; }
.ghc-nemerle-bg { background-color: #3d3c6e; }
.ghc-netlinx { color: #0aa0ff; }
.ghc-netlinx-bg { background-color: #0aa0ff; }
.ghc-netlinxperb { color: #747faa; }
.ghc-netlinxperb-bg { background-color: #747faa; }
.ghc-netlogo { color: #ff6375; }
.ghc-netlogo-bg { background-color: #ff6375; }
.ghc-newlisp { color: #87AED7; }
.ghc-newlisp-bg { background-color: #87AED7; }
.ghc-nextflow { color: #3ac486; }
.ghc-nextflow-bg { background-color: #3ac486; }
.ghc-nim { color: #37775b; }
.ghc-nim-bg { background-color: #37775b; }
.ghc-nit { color: #009917; }
.ghc-nit-bg { background-color: #009917; }
.ghc-nix { color: #7e7eff; }
.ghc-nix-bg { background-color: #7e7eff; }
.ghc-nu { color: #c9df40; }
.ghc-nu-bg { background-color: #c9df40; }
.ghc-ocaml { color: #3be133; }
.ghc-ocaml-bg { background-color: #3be133; }
.ghc-objective-c { color: #438eff; }
.ghc-objective-c-bg { background-color: #438eff; }
.ghc-objective-cpp { color: #6866fb; }
.ghc-objective-cpp-bg { background-color: #6866fb; }
.ghc-objective-j { color: #ff0c5a; }
.ghc-objective-j-bg { background-color: #ff0c5a; }
.ghc-omgrofl { color: #cabbff; }
.ghc-omgrofl-bg { background-color: #cabbff; }
.ghc-opal { color: #f7ede0; }
.ghc-opal-bg { background-color: #f7ede0; }
.ghc-oxygene { color: #cdd0e3; }
.ghc-oxygene-bg { background-color: #cdd0e3; }
.ghc-oz { color: #fab738; }
.ghc-oz-bg { background-color: #fab738; }
.ghc-p4 { color: #7055b5; }
.ghc-p4-bg { background-color: #7055b5; }
.ghc-php { color: #4F5D95; }
.ghc-php-bg { background-color: #4F5D95; }
.ghc-plsql { color: #dad8d8; }
.ghc-plsql-bg { background-color: #dad8d8; }
.ghc-pan { color: #cc0000; }
.ghc-pan-bg { background-color: #cc0000; }
.ghc-papyrus { color: #6600cc; }
.ghc-papyrus-bg { background-color: #6600cc; }
.ghc-parrot { color: #f3ca0a; }
.ghc-parrot-bg { background-color: #f3ca0a; }
.ghc-pascal { color: #E3F171; }
.ghc-pascal-bg { background-color: #E3F171; }
.ghc-pawn { color: #dbb284; }
.ghc-pawn-bg { background-color: #dbb284; }
.ghc-pep8 { color: #C76F5B; }
.ghc-pep8-bg { background-color: #C76F5B; }
.ghc-perl { color: #0298c3; }
.ghc-perl-bg { background-color: #0298c3; }
.ghc-perl-6 { color: #0000fb; }
.ghc-perl-6-bg { background-color: #0000fb; }
.ghc-piglatin { color: #fcd7de; }
.ghc-piglatin-bg { background-color: #fcd7de; }
.ghc-pike { color: #005390; }
.ghc-pike-bg { background-color: #005390; }
.ghc-pogoscript { color: #d80074; }
.ghc-pogoscript-bg { background-color: #d80074; }
.ghc-postscript { color: #da291c; }
.ghc-postscript-bg { background-color: #da291c; }
.ghc-powerbuilder { color: #8f0f8d; }
.ghc-powerbuilder-bg { background-color: #8f0f8d; }
.ghc-powershell { color: #012456; }
.ghc-powershell-bg { background-color: #012456; }
.ghc-processing { color: #0096D8; }
.ghc-processing-bg { background-color: #0096D8; }
.ghc-prolog { color: #74283c; }
.ghc-prolog-bg { background-color: #74283c; }
.ghc-propeller-spin { color: #7fa2a7; }
.ghc-propeller-spin-bg { background-color: #7fa2a7; }
.ghc-puppet { color: #302B6D; }
.ghc-puppet-bg { background-color: #302B6D; }
.ghc-purebasic { color: #5a6986; }
.ghc-purebasic-bg { background-color: #5a6986; }
.ghc-purescript { color: #1D222D; }
.ghc-purescript-bg { background-color: #1D222D; }
.ghc-python { color: #3572A5; }
.ghc-python-bg { background-color: #3572A5; }
.ghc-qml { color: #44a51c; }
.ghc-qml-bg { background-color: #44a51c; }
.ghc-quake { color: #882233; }
.ghc-quake-bg { background-color: #882233; }
.ghc-r { color: #198CE7; }
.ghc-r-bg { background-color: #198CE7; }
.ghc-raml { color: #77d9fb; }
.ghc-raml-bg { background-color: #77d9fb; }
.ghc-runoff { color: #665a4e; }
.ghc-runoff-bg { background-color: #665a4e; }
.ghc-racket { color: #22228f; }
.ghc-racket-bg { background-color: #22228f; }
.ghc-ragel { color: #9d5200; }
.ghc-ragel-bg { background-color: #9d5200; }
.ghc-rascal { color: #fffaa0; }
.ghc-rascal-bg { background-color: #fffaa0; }
.ghc-rebol { color: #358a5b; }
.ghc-rebol-bg { background-color: #358a5b; }
.ghc-red { color: #f50000; }
.ghc-red-bg { background-color: #f50000; }
.ghc-ren-py { color: #ff7f7f; }
.ghc-ren-py-bg { background-color: #ff7f7f; }
.ghc-ring { color: #2D54CB; }
.ghc-ring-bg { background-color: #2D54CB; }
.ghc-roff { color: #ecdebe; }
.ghc-roff-bg { background-color: #ecdebe; }
.ghc-rouge { color: #cc0088; }
.ghc-rouge-bg { background-color: #cc0088; }
.ghc-ruby { color: #701516; }
.ghc-ruby-bg { background-color: #701516; }
.ghc-rust { color: #dea584; }
.ghc-rust-bg { background-color: #dea584; }
.ghc-sas { color: #B34936; }
.ghc-sas-bg { background-color: #B34936; }
.ghc-sqf { color: #3F3F3F; }
.ghc-sqf-bg { background-color: #3F3F3F; }
.ghc-srecode-template { color: #348a34; }
.ghc-srecode-template-bg { background-color: #348a34; }
.ghc-saltstack { color: #646464; }
.ghc-saltstack-bg { background-color: #646464; }
.ghc-scala { color: #c22d40; }
.ghc-scala-bg { background-color: #c22d40; }
.ghc-scheme { color: #1e4aec; }
.ghc-scheme-bg { background-color: #1e4aec; }
.ghc-self { color: #0579aa; }
.ghc-self-bg { background-color: #0579aa; }
.ghc-shell { color: #89e051; }
.ghc-shell-bg { background-color: #89e051; }
.ghc-shen { color: #120F14; }
.ghc-shen-bg { background-color: #120F14; }
.ghc-slash { color: #007eff; }
.ghc-slash-bg { background-color: #007eff; }
.ghc-slice { color: #003fa2; }
.ghc-slice-bg { background-color: #003fa2; }
.ghc-smalltalk { color: #596706; }
.ghc-smalltalk-bg { background-color: #596706; }
.ghc-solidity { color: #AA6746; }
.ghc-solidity-bg { background-color: #AA6746; }
.ghc-sourcepawn { color: #5c7611; }
.ghc-sourcepawn-bg { background-color: #5c7611; }
.ghc-squirrel { color: #800000; }
.ghc-squirrel-bg { background-color: #800000; }
.ghc-stan { color: #b2011d; }
.ghc-stan-bg { background-color: #b2011d; }
.ghc-standard-ml { color: #dc566d; }
.ghc-standard-ml-bg { background-color: #dc566d; }
.ghc-supercollider { color: #46390b; }
.ghc-supercollider-bg { background-color: #46390b; }
.ghc-swift { color: #ffac45; }
.ghc-swift-bg { background-color: #ffac45; }
.ghc-systemverilog { color: #DAE1C2; }
.ghc-systemverilog-bg { background-color: #DAE1C2; }
.ghc-ti-program { color: #A0AA87; }
.ghc-ti-program-bg { background-color: #A0AA87; }
.ghc-tcl { color: #e4cc98; }
.ghc-tcl-bg { background-color: #e4cc98; }
.ghc-tex { color: #3D6117; }
.ghc-tex-bg { background-color: #3D6117; }
.ghc-terra { color: #00004c; }
.ghc-terra-bg { background-color: #00004c; }
.ghc-turing { color: #cf142b; }
.ghc-turing-bg { background-color: #cf142b; }
.ghc-typescript { color: #2b7489; }
.ghc-typescript-bg { background-color: #2b7489; }
.ghc-unrealscript { color: #a54c4d; }
.ghc-unrealscript-bg { background-color: #a54c4d; }
.ghc-vcl { color: #148AA8; }
.ghc-vcl-bg { background-color: #148AA8; }
.ghc-vhdl { color: #adb2cb; }
.ghc-vhdl-bg { background-color: #adb2cb; }
.ghc-vala { color: #fbe5cd; }
.ghc-vala-bg { background-color: #fbe5cd; }
.ghc-verilog { color: #b2b7f8; }
.ghc-verilog-bg { background-color: #b2b7f8; }
.ghc-vim-script { color: #199f4b; }
.ghc-vim-script-bg { background-color: #199f4b; }
.ghc-visual-basic { color: #945db7; }
.ghc-visual-basic-bg { background-color: #945db7; }
.ghc-volt { color: #1F1F1F; }
.ghc-volt-bg { background-color: #1F1F1F; }
.ghc-vue { color: #2c3e50; }
.ghc-vue-bg { background-color: #2c3e50; }
.ghc-webassembly { color: #04133b; }
.ghc-webassembly-bg { background-color: #04133b; }
.ghc-x10 { color: #4B6BEF; }
.ghc-x10-bg { background-color: #4B6BEF; }
.ghc-xc { color: #99DA07; }
.ghc-xc-bg { background-color: #99DA07; }
.ghc-xquery { color: #5232e7; }
.ghc-xquery-bg { background-color: #5232e7; }
.ghc-xslt { color: #EB8CEB; }
.ghc-xslt-bg { background-color: #EB8CEB; }
.ghc-yara { color: #220000; }
.ghc-yara-bg { background-color: #220000; }
.ghc-yasnippet { color: #32AB90; }
.ghc-yasnippet-bg { background-color: #32AB90; }
.ghc-yacc { color: #4B6C4B; }
.ghc-yacc-bg { background-color: #4B6C4B; }
.ghc-zephir { color: #118f9e; }
.ghc-zephir-bg { background-color: #118f9e; }
.ghc-zig { color: #ec915c; }
.ghc-zig-bg { background-color: #ec915c; }
.ghc-ec { color: #913960; }
.ghc-ec-bg { background-color: #913960; }
.ghc-nesc { color: #94B0C7; }
.ghc-nesc-bg { background-color: #94B0C7; }
.ghc-ooc { color: #b0b77e; }
.ghc-ooc-bg { background-color: #b0b77e; }
.ghc-q { color: #0040cd; }
.ghc-q-bg { background-color: #0040cd; }
.ghc-sed { color: #64b970; }
.ghc-sed-bg { background-color: #64b970; }
.ghc-wdl { color: #42f1f4; }
.ghc-wdl-bg { background-color: #42f1f4; }
.ghc-wisp { color: #7582D1; }
.ghc-wisp-bg { background-color: #7582D1; }
.ghc-xbase { color: #403a40; }
.ghc-xbase-bg { background-color: #403a40; }
